{% extends 'base.html' %}

{% block content %}

<header>
    <nav>
    <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="{{ url_for('dashboard') }}">Dashboard | <a href="{{ url_for('logout') }}">LOGOUT</a> | <a href="#contact">Contact</a></a></p>
    </nav>
    <h1 id="account-title">Your Account</h1>
</header>

<section>
    <figure class="about-logo">
        <img 
        id="logo" 
        src="{{ url_for('static', filename='logo.png') }}"
        alt="Think the Game logo"
        >
    </figure>
</section>

<section>
    <p id="account-header">Here are the details of your account</p>

    <p id="account-text"><strong>Username: </strong></p><p class="dynamic-text">{{ user.username }}</p>
    <br>
    <p id="account-text"><strong>Email: </strong></p> <p class="dynamic-text">{{ user.email }}</p>
    <br>
    <p id="account-text"><strong>Date joined: </strong></p> <p class="dynamic-text">{{ user.created_at }}</p>
</section>
<br><br><br>

<section>
    <h3 id="logout-redirect">If you want to logout: <a href="{{ url_for('logout') }}">CLICK HERE</a></h3>
</section>

<section>
    <form method="POST" action="{{ url_for('delete_account') }}">
        <p id="delete-button-text"><strong>If you want to delete your account:</strong></p>
        <button id="delete-account-button" onclick="return confirm('Are you sure you want to delete this?');">Delete</button>
    </form>
</section>
    
{% endblock %}
