<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css href="style.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> -->
    <h1>THINK THE GAME</h1>
  </head>

  <header>
      <nav>
        <ul>
          <li><a href="index.html">Homepage</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
  </header>

  <main>
  <body>
    {% block content %}
    {% endblock %}
  </body>
  </main>

  <footer id="contact">
    <p>Contact me: lex@example.com  |  Think the Game 2026(c)</p>
  </footer>

</html>