<!DOCTYPE html>
<html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" type="text/css" href="static/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  
  <body>
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <p id="contact">Contact me: <p style="font-family: Helvetica, Arial, sans-serif; font-size: 13px;">lex@example.com</p></p>
      <p id="title-trademark">Think the Game 2026(c)</p>
    </footer>

  </body>
</html>