{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="{{ url_for('account') }}">Account</a> | <a href="{{ url_for('logout') }}">LOGOUT</a> | <a href="#contact">Contact</a></p><br>
        {% else %}
        <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="{{ url_for('login') }}">Login/Make an Account</a> | <a href="#contact">Contact</a></p>
        {% endif %}
    </nav>

    <h1 id="dashboard-title">DASHBOARD</h1>
</header>
<br><br>

<section>
    <h2 id="dashboard-welcome">Welcome {{ user.username }}!</h2><br><br>
    <div class="video-grid">
        <article class="video-card">
            <h3 id="dashboard-coach">Coach Tools</h3><br>
            <p id="dashboard-text"><a href="{{ url_for('upload_video') }}">Upload a new training video</a></p>
            <p id="dashboard-text"><a href="{{ url_for('video_bank') }}">Edit a video in your video bank</a></p>
            <p id="dashboard-text"><a href="{{ url_for('video_bank') }}">View your video bank</a></p>
        </article>
    </div>
</section>

    <section>
        <figure class="site-logo">
            <img 
            id="logo" 
            src="{{ url_for('static', filename='logo.png') }}"
            alt="Think the Game logo"
            >
        </figure>
    </section>

<section>
    <div class="video-grid">
        <article class="video-card">
            <h3 id="dashboard-coach">Player Tools</h3><br>
            <p id="dashboard-text">Training progress and stats will appear here later...</p>
        </article>
    </div>
</section>
    
{% endblock %}
