{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="{{ url_for('account') }}">Account</a> | <a href="{{ url_for('dashboard') }}">Dashboard</a> | <a href="#contact">Contact</a></p><br>
        {% else %}
        <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="{{ url_for('login') }}">Login/Make an Account</a> | <a href="#contact">Contact</a></p>
        {% endif %}
    </nav>

    <h1 id="dashboard-title">DASHBOARD</h1>
</header>
<br><br>

    <h2 id="dashboard-welcome">Welcome {{ user.username }}!</h2>
    <h3 id="dashboard-coach">Coach Tools</h3>
    <p id="dashboard-text"><a href="{{ url_for('upload_video') }}">Upload a new training video</a></p><br>
    <p id="dashboard-text"><a href="{{ url_for('video_bank') }}">Edit a video in your video bank</a></p><br>
    <p id="dashboard-text"><a href="{{ url_for('video_bank') }}">View your video bank</a></p>
    <br>
    <br>
    <h3 id="dashboard-coach">Player Tools</h3>
    <p id="dashboard-text">Training progress and stats will appear here later...</p>
{% endblock %}
