{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="{{ url_for('account') }}">Account</a> | <a href="{{ url_for('dashboard') }}">Dashboard</a> | <a href="{{ url_for('logout') }}">LOGOUT</a> | <a href="#contact">Contact</a></p><br>
        {% else %}
        <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="{{ url_for('login') }}">Login/Make an Account</a> | <a href="#contact">Contact</a></p>
        {% endif %}
    </nav>

    <h1 id="edit-title">Edit your game film</h1>
</header>
<br><br>

    <h2 id="edit-welcome">{{ video.title }}</h2>
    <video id="edit-video" width="640" controls>
        <source src="{{ url_for('static', filename='uploads/'+video.video_file) }}">
    </video>
    <br><br>

    <h2 id="edit-dp">Add a Decision Point</h2>
    <form method="POST" action="{{ url_for('edit_video', video_id=video.id) }}">
        <label id="edit-label">Pause time (seconds): </label>
        <input id="edit-text" type="number" step="0.1" name="pause_time" required><br><br>
        <br>

        <label id="edit-label">Reveal time (when to reveal the correct answer): </label>
        <input id="edit-text" type="number" step="0.1" name="reveal_time" required><br><br>
        <br>

        <label id="edit-label" for="question">Question: </label>
        <input id="edit-text" type="text" list="questions" name="question" id="question" placeholder="Choose an option or type your own"><br><br>
        <datalist id="questions" name="questions" style="width: auto;">
            <option value="What should the player do next?"></option>
            <option value="Who should the player pass to?"></option>
            <option value="Where should the help defense be?"></option>
            <option value="Where should the outlet be?"></option>
            <option value="Where should the player be?"></option>
        </datalist>
        <br>

        <label id="edit-label">Answer Choices: </label><br>
        <input id="edit-text" type="text" name="choice1" list="choice1" placeholder="Choice 1" required><br>
        <datalist id="choice1">
            <option value="Pass to the corner"></option>
            <option value="Pass to the top of the Key"></option>
            <option value="Pass into the post/key"></option>
            <option value="Run wide"></option>
            <option value="Shoot"></option>
            <option value="Drive/attack"></option>
            <option value="Kickout"></option>
        </datalist>
        <input id="edit-text" type="text" name="choice2" list="choice2" placeholder="Choice 2" required><br>
        <datalist id="choice2">
            <option value="Pass to the corner"></option>
            <option value="Pass to the top of the Key"></option>
            <option value="Pass into the post/key"></option>
            <option value="Run wide"></option>
            <option value="Shoot"></option>
            <option value="Drive/attack"></option>
            <option value="Kickout"></option>
        </datalist>
        <input id="edit-text" type="text" name="choice3" list="choice3" placeholder="Choice 3" required><br>
        <datalist id="choice3">
            <option value="Pass to the corner"></option>
            <option value="Pass to the top of the Key"></option>
            <option value="Pass into the post/key"></option>
            <option value="Run wide"></option>
            <option value="Shoot"></option>
            <option value="Drive/attack"></option>
            <option value="Kickout"></option>
        </datalist>
        <input id="edit-text" type="text" name="choice4" list="choice4" placeholder="Choice 4"><br>
        <datalist id="choice4">
            <option value="Pass to the corner"></option>
            <option value="Pass to the top of the Key"></option>
            <option value="Pass into the post/key"></option>
            <option value="Run wide"></option>
            <option value="Shoot"></option>
            <option value="Drive/attack"></option>
            <option value="Kickout"></option>
        </datalist>
        <input id="edit-text" type="text" name="choice5" list="choice5" placeholder="Choice 5"><br>
        <datalist id="choice5">
            <option value="Pass to the corner"></option>
            <option value="Pass to the top of the Key"></option>
            <option value="Pass into the post/key"></option>
            <option value="Run wide"></option>
            <option value="Shoot"></option>
            <option value="Drive/attack"></option>
            <option value="Kickout"></option>
        </datalist>
        <br>

        <label id="edit-label">Correct Answer (enter the choice number): </label>
        <input id="edit-text" type="number" step="1" name="correct_choice" min="1" max="5" required>
        <br>

        <label id="edit-label">Explanation (why was the answer the correct choice?): </label>
        <textarea id="edit-text" name="explanation" placeholder="(Optional)"></textarea>
        <br>
        <br>
        <br>

        <button id="edit-button" type="submit">COMPLETE UPLOAD</button>
    </form>
    <br>
    <br>
    <br>
    <br>

    <h2 id="edit-welcome">Existing Decision Points</h2>
    {% for dp in decision_points %}
    <div style="background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 12px navy;
    padding: 1.25rem;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;">
        <strong>Pause:</strong> {{ dp.pause_time }}s<br>
        <strong>Reveal:</strong> {{ dp.reveal_time }}s<br>
        <strong>Question:</strong> {{ dp.question }}<br>
        <strong>Explanation:</strong> {{ dp.explanation }}<br>

        <strong>Choices:</strong>
        <ul id="edit-choices">
            {% for choice in dp.answer_choices %}
                <li>
                    {{ choice.position }}. {{ choice.text }}
                    {% if choice.is_correct %}
                    (Correct)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <a id="edit-dp-link" href="{{ url_for('edit_decision_point', dp_id=dp.id) }}">Edit</a><br><br><br>
        <form method="POST" action="{{ url_for('delete_decision_point', dp_id=dp.id) }}">
            <button id="delete-dp-button" type="submit">DELETE</button>
        </form>
    </div>
    {% endfor %}
    <br>
    <br>

    <h4 id="edit-redirect">If you want to see your completed video: <a href="{{ url_for('video', video_id=video.id) }}">TRY IT OUT!</a></h4>


{% endblock %}