{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
    <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="#contact">Contact</a></p>

    <h1 id="login-title">LOGIN</h1>
</header>
<br>
<br>

<body>
    <form method="POST">
        <label id="login-label">Username/Email: </label>
        <input id="login-text" type="text" name="identifier" required><br><br>
        
        <label id="login-label" for="password">Password: </label>
        <input type="password" name="password" required><br><br>
        
        <button id="login-button" type="submit">LOGIN</button>
    </form>
    <br>
    <br>
    <br>
    
    <h3 id="register-redirect">Don't have an account? Register here: <a href="{{ url_for('register') }}">REGISTER</a></h3>
</body>

{% endblock %}