{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
    <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="#contact">Contact</a></p>
    </nav>

    <h1 id="login-title">LOGIN TO YOUR ACCOUNT</h1>
</header>

<section>
    <figure class="about-logo">
        <img 
        id="logo" 
        src="{{ url_for('static', filename='logo.png') }}"
        alt="Think the Game logo"
        >
    </figure>
</section>

<section>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="error-message">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

    <form method="POST">
        <label id="login-label">Username/Email: </label>
        <input id="login-text" type="text" name="identifier" required><br><br>
        
        <label id="login-label" for="password">Password: </label>
        <input id="login-text" type="password" name="password" required><br><br>
        
        <button id="login-button" type="submit">LOGIN</button>
    </form>
</section>
<br><br><br>
    
    <h3 id="register-redirect">Don't have an account? <a href="{{ url_for('register') }}">REGISTER</a></h3>


{% endblock %}