{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
    <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="#contact">Contact</a></p>
    </nav>

    <h1 id="register-title">Register</h1>
</header>

<section>
    <figure class="about-logo">
        <img 
        id="logo" 
        src="{{ url_for('static', filename='logo.png') }}"
        alt="Think the Game logo"
        >
    </figure>
</section>


<section>
    <h2 id="register-header">Create an Account!</h2><br><br>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="error-message">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}


    <form method="POST">
        <label id="register-label">Username: </label>
        <input id="register-text" type="text" name="username" required><br><br>
        
        <label id="register-label">Email: </label>
        <input id="register-text" type="email" name="email" required><br><br>

        <label id="register-label">Account Type:</label>
        <select id="register-text" name="role" required>
            <option value="player">Player</option>
            <option value="coach">Coach</option>
        </select><br><br>

        <div id="coach-select" style="display:none;">
            <label id="register-label">Select Your Coach:</label>
            <select id="register-text" name="coach_id">
                {% for coach in coaches %}
                <option value="{{ coach.id }}">{{ coach.username }}</option>
                {% endfor %}
            </select>
        </div><br>
        
        <label id="register-label">Password:</label>
        <input id="password-text" type="password" id="password" name="password" required><br><br>
        
        <label id="register-label">Confirm Password:</label>
        <input id="password-text" type="password" id="confirm-password" name="confirm_password" required><br><br><br>

        
        <button id="register-button" type="submit">REGISTER</button>
    </form>

    <script>
document.addEventListener("DOMContentLoaded", function() {
    const roleSelect = document.querySelector('select[name="role"]');
    const coachSelect = document.getElementById('coach-select');

    coachSelect.style.display = 'none';

    // Show immediately if Player is already selected
    if (roleSelect.value === 'player') {
        coachSelect.style.display = 'block';
    }

    roleSelect.addEventListener('change', function() {
        if (this.value === 'player') {
            coachSelect.style.display = 'block';
        } else {
            coachSelect.style.display = 'none';
        }
    });
});
</script>

</section>
<br><br><br><br>

    <h3 id="login-redirect">Already have an account? <a href="{{ url_for('login') }}">LOGIN</a></h3>

{% endblock %}