{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="{{ url_for('account') }}">Account</a> | <a href="{{ url_for('dashboard') }}">Dashboard</a> | <a href="#contact">Contact</a></p><br>
        {% else %}
        <p><a href="{{ url_for('index') }}">Homepage</a> | <a href="{{ url_for('about') }}">About</a> | <a href="{{ url_for('login') }}">Login/Make an Account</a> | <a href="#contact">Contact</a></p>
        {% endif %}
    </nav>

    <h1 id="video-bank-title">VIDEO BANK</h1>
</header>

<section>
<h2 id="video-bank-welcome">Here are your current videos: </h2>
    <div class="video-grid">
        {% for video in videos %}
        <article class="video-card">
            <h3>{{ video.title }}</h3>
            <p><strong>Category:</strong> {{ video.category }}</p>
            <p>{{ video.description }}</p><br>

            <a href="{{ url_for('video', video_id=video.id) }}">Start this video</a><br>
            <a href="{{ url_for('edit_video', video_id=video.id) }}">Edit this video</a>
        </article>
        {% endfor %}
    </div>
</section>

{% endblock %}
